.form-container{
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    color: black;
}
form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}
.form-container{
    border: 1px solid red;
    width: 800px;
}

form .inner-field{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 5px;

}
.inner-field label{
    margin-bottom: 7px;
}
.form-container form input{
    margin: 5px;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    width: 90%;
}
.inner-field select{
    margin: 5px;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    width: 90%;
}
form .error{
    color: red;
    padding: 10px 20px;
}
button{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}
.second-group{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.form-data h1{
    margin-top: 3rem;
    color: blueviolet;
}
.form-data ul{
    
    list-style: none;
}
.gender-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 10px;
    margin-top: 10px;
}
.gender-inner label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gerder-main{
    margin-top: 10px;
    margin-left: 10px;
}
.form-data ul li{
    margin-top: 7px;
}
.address-data{
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    
}
.disabled{
    cursor: not-allowed;
 background: rgb(193, 140, 243);
}
.btn{
    cursor: pointer;
}